<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="Assets/logo.png" />

    <title>FODD-001 Prueba Tecnica</title>
    <!-- Bootstrap CSS Import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/styles.css" />
</head>

<body>
    <div class="mainwrapper row">
        <div class="col-lg-12">
            <h1 class="maintitle">SuperHero Wiki</h1>
        </div>


        <div class="cardwrapper col-lg-12">
            <article class="shadow postcard darkcard">
                <div class="row">
                    <div class="cardtext col-lg-9 col-sm-12">
                        <h1 class="supername1"> <%=namesejs[0] %></h1>
                        
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[0]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[0]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[0]%>.</span>
                    </div>
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[0]%> alt="Image Title" />
                    </a>
                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[1]%> alt="Image Title" />
                    </a>
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[1] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[1]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[1]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[1]%>.</span>
                        
                    </div>


                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <div class="cardtext col-lg-9 col-sm-12">
                        <h1 class="supername1"> <%=namesejs[2] %></h1>
                        
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[2]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[2]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[2]%>.</span>
                    </div>
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[2]%> alt="Image Title" />
                    </a>

                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[3]%> alt="Image Title" />
                    </a>
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[3] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[3]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[3]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[3]%>.</span>
                        
                    </div>


                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[4] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[4]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[4]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[4]%>.</span>
                        
                    </div>
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[4]%> alt="Image Title" />
                    </a>

                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[5]%> alt="Image Title" />
                    </a>
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[5] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[5]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[5]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[5]%>.</span>
                        
                    </div>

                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[6] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[6]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[6]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[6]%>.</span>
                        
                    </div>
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[6]%> alt="Image Title" />
                    </a>

                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[7]%> alt="Image Title" />
                    </a>
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[7] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[7]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[7]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[7]%>.</span>
                        
                    </div>


                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[8] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[8]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[8]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[8]%>.</span>
                        
                    </div>
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[8]%> alt="Image Title" />
                    </a>
                </div>
            </article>

            <article class="shadow postcard darkcard">
                <div class="row">
                    <a class="postcard__img_link col-lg-3 col-sm-6" href="hero.html">
                        <img class="postcard__img" src=<%=imagesejs[9]%> alt="Image Title" />
                    </a>
                    <div class="cardtext col-lg-9 col-sm-12 col justify-between">
                        <h1><%= namesejs[9] %></h1>
                        <i class="fas fa-solid fa-masks-theater"></i> <span> Alignment:  <%= alignmentejs[9]%>.</span>
                        <br>
                        <i class="fas fa-earth-americas "></i> <span> Occupation: <%= occupationejs[9]%>.</span>
                        <br>
                        <i class="fa-solid fa-location-dot"></i> <span> Base Location: <%= locationejs[9]%>.</span>
                        
                    </div>


                </div>
            </article>


        </div>



    </div>

    <footer>
                <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark justify-content-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="http://localhost:3000/">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="http://localhost:3000/page2">2</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="http://localhost:3000/page3">3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page4">4</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page5">5</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page6">6</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page7">7</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page8">8</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page9">9</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/page10">10</a>
                          </li>
                      </ul>
                    </div>
                  </nav>
    </footer>
    <script type="module" src="index.js"></script>
    <script src="https://kit.fontawesome.com/6025ef1b23.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Js Import -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>